@import url('https://fonts.googleapis.com/css?family=Arimo:400');

.block-header {
   display: flex;
   flex-flow: column wrap;
   justify-content: center;
   align-items: center;
   font-family: 'Arimo', sans-serif;
}

h1 {
  font-family: 'Arimo', sans-serif;
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
  color: rgb(68, 85, 112);
  padding-top: 20px;
}

#trophy {
padding-top: 50px;
  padding-left: 50px;
  width: 300px;
  height: 250px;
  
}

.leaders {
  display: flex;
  flex-direction: column;
  width: 800px;
  padding-left: 350px; 
  margin-bottom: 100px;
  margin-top: 20px; 
}

.places {
  display: flex;
  border-radius: 40px;
  box-shadow: 0px 6px 28.1px 0.9px rgba(0, 0, 0, 0.12);
  border-radius: 45px;
  height: 50px;
  margin-top: 1.3vh;
  justify-content: center;
  border: 0.1px solid white;
  line-height: 10px;
  padding: 2.5rem;
  margin: 0.5em;
  transition: 0.2s linear;
}

.places:hover {
  transform: scale(1.1);
}

img {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  bottom: 12px;
  left: -30px;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
  
}

.rating {
  position: relative;
  bottom: 1.2vh;
}

.fa-star {
  color: gold;
  width: 14px;
  height: 14px;
}

  h3 {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: rgb(83, 98, 122);
}

 p {
  opacity: 0.73;
  font-family: 'Arimo', sans-serif;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: rgb(114, 120, 130, 1);
  position: relative;
  line-height: 90%;  
}

@media all and (max-width: 1000px){

body {
background-color: rgb(242, 206, 196) 
}

.block-header {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: 'Arimo', sans-serif;
    background-color:rgb(242, 206, 196)
    }

.leaders {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 800px;
    padding-left: 70px; 
    margin-bottom: 50px;
    margin-top: 20px; 
    } 
 
h3 {
    font-family: "Quicksand", sans-serif;
    font-size: 32px;
    font-weight: normal;
    color: rgb(83, 98, 122);
    }
      
p {
    opacity: 0.83;
    font-family: 'Arimo', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: left;
    color: rgb(114, 120, 130, 1);
    position: relative;
    line-height: 100%;  
    }

img {
    position: relative;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    bottom: 20px;
    left: -20px;
    } 

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    }
      
.rating {
    position: relative;
    bottom: 0.1vh;
    } 

.fa-star {
    color: gold;
    width: 16px;
    height: 16px;
    }
.places {
    display: flex;
    flex-shrink: 2; 
    border-radius: 40px;
    box-shadow: 0px 6px 28.1px 0.9px rgb(0, 0, 0, 0.12);
    border-radius: 45px;
    height: 200px;
    margin-top: 0.2vh;
    justify-content: cenrter;
    border: 0.1px solid white;
    line-height: 10px;
    padding: 2.5rem;
    margin: 0.5em;
    transition: 0.2s linear;
    background-color: white;
    }    
}

   